.Comments {
    padding: 5px;
    font-style: italic;
    color: #5c6e91;
}
article {
    padding: 15px;
    background-color: #f2f4c0;
    border: 1px solid #e4e978;
    margin: 15px 10px;
    width: 700px;
}
body {
    background-color: #4c7658;
}